
  <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=Logo&w=200&h=200" alt="">
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">오늘은 뭐먹지?</h1>
                    <p class="lead section-lead">바쁜 생활속에서 끼니는 잘 챙겨 드시고 계신가요? </p>
                    <p class="section-paragraph">저 역시도 뭘 먹을지 종종 고민한답니다. 함께 식사 메뉴를 정해보아요.</p>
<p>
 <a href="result" class="btn btn-default btn-lg">LET'S CHOOSE</a>
</p>

                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>


        <!-- /.container -->
    </section>