
  <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
   
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">오늘의 메뉴는 <%= @result %>  입니다.</h1>
                    <p class="lead section-lead"><%= @result %> , 저도 참 좋아하는데요ㅎ.ㅎ</p>
                    <p class="section-paragraph"> 짧은 식사지만 정성스럽게 먹으면 우리몸에 더욱 좋다고 합니다! 맛있게드세요 :D / </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <aside class="image-bg-fixed-height"></aside>

  
        <!-- /.container -->
    </section>